* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-weight: bold;
  font-family: 'Noto Sans JP', sans-serif;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.container {
  min-height: 100vh;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

header {
  width: 100%;
  position: fixed;
  background-color: transparent;
  z-index: 1000;
}

header .header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 1200px;
  margin: 0 auto;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: .5em 2em;
  -webkit-transition: .3s ease background-color;
  transition: .3s ease background-color;
}

header #logo h1 {
  font-size: 2.6rem;
  color: white;
  margin: .1em 0;
}

header #logo h1 span {
  color: crimson;
}

header nav a {
  margin: 21px;
  text-decoration: none;
  color: white;
  font-size: 1.1rem;
  font-weight: 500;
  display: inline-block;
  position: relative;
}

header nav a:after {
  content: '';
  position: absolute;
  width: 100%;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: crimson;
  -webkit-transform-origin: bottom right;
          transform-origin: bottom right;
  -webkit-transition: -webkit-transform 0.25s ease-out;
  transition: -webkit-transform 0.25s ease-out;
  transition: transform 0.25s ease-out;
  transition: transform 0.25s ease-out, -webkit-transform 0.25s ease-out;
}

header nav a:hover:after {
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
  -webkit-transform-origin: bottom left;
          transform-origin: bottom left;
}

section #greet {
  background-image: url("../images/child-sutdying-at-home.png");
  background-size: cover;
  background-position: center top;
  position: relative;
  z-index: 1;
}

section #greet:after {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: black;
  opacity: .7;
  z-index: -1;
}

section #greet #greet_overlay {
  color: white;
  padding-top: 10px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-width: 1200px;
  margin: 0 auto;
}

section #greet #greet_overlay #greet_title {
  font-size: 50px;
  padding-top: 40px;
}

section #greet #greet_overlay #subtitle {
  font-size: 20px;
  padding-top: 10px;
  margin-bottom: 1em;
}

section #greet #greet_overlay #greet_buttons a {
  text-align: center;
  display: inline-block;
  margin: 0 20px;
  padding: .7em 2.5em;
  background-color: transparent;
  border: 2px solid white;
  border-radius: 10px;
  text-decoration: none;
  color: white;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

section #greet #greet_overlay #greet_buttons a:hover {
  background-color: white;
  color: black;
}

section #greet #greet_overlay #greet_buttons #Daftar {
  background-color: crimson;
  border: 2px solid crimson;
}

section #greet #greet_overlay #greet_buttons #Daftar:hover {
  background-color: white;
  border: 2px solid white;
  color: crimson;
}

section #about_us {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 90vh;
}

section #about_us #abt-us-img {
  width: 40%;
  height: 90vh;
  background-size: cover;
  padding: 5rem 2.5rem 5rem 2.5rem;
}

section #about_us #abt-us-img img {
  width: 100%;
  height: auto;
}

section #about_us #who_we_are {
  width: 60%;
  padding: 2rem 5rem 2rem 2rem;
}

section #about_us #who_we_are h1 {
  font-size: 40px;
  font-weight: bold;
}

section #about_us #who_we_are p {
  text-align: justify;
  font-size: 17px;
  font-weight: lighter;
}

footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  width: 100%;
  height: 170px;
  background-color: #22242b;
}

footer P {
  padding: 1rem 0 0 0;
  height: 100%;
  font-weight: bolder;
  color: white;
}

footer #soc-med-links a {
  padding: 0 1rem 0 1rem;
}

footer #footer-cpy-rght {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  font-weight: lighter;
  font-size: 14px;
  padding: 0 0 1rem 0;
  color: white;
}

/* For Mobile Screen */
@media only screen and (max-width: 767px) {
  header img {
    width: 150px;
  }
  header nav ul {
    position: absolute;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100vw;
    height: 100vh;
    left: 100%;
    top: 0;
    z-index: 1;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    overflow: hidden;
    background-color: #1f1e1e;
    -webkit-transition: .3s ease left;
    transition: .3s ease left;
  }
  header nav ul a {
    text-transform: uppercase;
    padding: 1.5em;
    display: block;
    margin: 0;
  }
  header nav ul.active {
    left: 0;
  }
  header nav .hamburger {
    z-index: 100;
    width: 60px;
    height: 60px;
    border: 3px solid white;
    border-radius: 50%;
    display: inline-block;
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    cursor: pointer;
    -webkit-transform: scale(0.8);
            transform: scale(0.8);
  }
  header nav .hamburger .bar {
    height: 2px;
    width: 30px;
    position: relative;
    background-color: white;
    z-index: -1;
  }
  header nav .hamburger .bar:before, header nav .hamburger .bar:after {
    content: '';
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: white;
    -webkit-transition: .3s ease;
    transition: .3s ease;
    -webkit-transition-property: top, bottom;
    transition-property: top, bottom;
  }
  header nav .hamburger .bar:before {
    bottom: 8px;
  }
  header nav .hamburger .bar:after {
    top: 8px;
  }
  header nav .hamburger.active .bar:before {
    bottom: 0;
  }
  header nav .hamburger.active .bar:after {
    top: 0;
  }
  section #greet #greet_overlay {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    padding: 0 2em;
  }
  section #greet #greet_overlay #greet_title {
    padding-top: git 0;
    font-size: 2.1rem;
  }
  section #greet #greet_overlay #subtitle {
    margin-bottom: 1.5em;
    font-weight: 400;
    font-size: 1.2rem;
  }
  section #greet #greet_overlay #greet_buttons a {
    margin: 0;
    margin-right: 1em;
    padding: .7em 1.8em;
  }
  section #about_us {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    height: auto;
  }
  section #about_us #abt-us-img {
    height: auto;
    width: 100%;
    padding: 2em;
  }
  section #about_us #who_we_are {
    width: 100%;
    padding: 2em;
  }
  section #about_us #who_we_are h1 {
    margin-bottom: .3em;
    font-size: 3rem;
  }
  section #about_us #who_we_are p {
    font-size: 1.1rem;
    text-align: left;
  }
}

/* For Mobile Screen */
/*# sourceMappingURL=style.css.map */