* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-weight: bold;
  font-family: 'Noto Sans JP', sans-serif;
}

header {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: fixed;
  background-color: white;
}

header img {
  width: 350px;
  height: auto;
  margin: 6px 18px 6px 18px;
}

header nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  height: auto;
  margin-left: 60px;
}

header nav a {
  margin: 21px;
  text-decoration: none;
  color: black;
  font-size: 18px;
  display: inline-block;
  position: relative;
}

header nav a:after {
  content: '';
  position: absolute;
  width: 100%;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: black;
  -webkit-transform-origin: bottom right;
          transform-origin: bottom right;
  -webkit-transition: -webkit-transform 0.25s ease-out;
  transition: -webkit-transform 0.25s ease-out;
  transition: transform 0.25s ease-out;
  transition: transform 0.25s ease-out, -webkit-transform 0.25s ease-out;
}

header nav a:hover:after {
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
  -webkit-transform-origin: bottom left;
          transform-origin: bottom left;
}

section #greet {
  width: 100%;
  height: 100vh;
  background-image: url("../images/child-sutdying-at-home.png");
  background-size: cover;
}

section #greet #greet_overlay {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: inherit;
  height: inherit;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  padding-top: 10px;
}

section #greet #greet_overlay #greet_title {
  font-size: 50px;
  padding-top: 40px;
}

section #greet #greet_overlay #subtitle {
  font-size: 20px;
  padding-top: 10px;
}

section #greet #greet_overlay #greet_buttons {
  margin-top: 20px;
}

section #greet #greet_overlay #greet_buttons a {
  text-align: center;
  display: inline-block;
  width: 150px;
  margin: 0px 20px 0px 20px;
  padding: 10px 20px 10px 20px;
  background-color: transparent;
  border: 2px solid white;
  border-radius: 50px;
  text-decoration: none;
  color: white;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

section #greet #greet_overlay #greet_buttons a:hover {
  background-color: white;
  color: black;
}

section #greet #greet_overlay #greet_buttons #Daftar {
  width: 150px;
  background-color: #a51515;
  border: 2px solid #a51515;
}

section #greet #greet_overlay #greet_buttons #Daftar:hover {
  background-color: #283f8b;
  border: 2px solid #283f8b;
  color: white;
}

section #about_us {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 90vh;
}

section #about_us #abt-us-img {
  width: 40%;
  height: 90vh;
  background-size: cover;
  padding: 5rem 2.5rem 5rem 2.5rem;
}

section #about_us #abt-us-img img {
  width: 100%;
  height: auto;
}

section #about_us #who_we_are {
  width: 60%;
  padding: 2rem 5rem 2rem 2rem;
}

section #about_us #who_we_are h1 {
  font-size: 40px;
  font-weight: bold;
}

section #about_us #who_we_are p {
  text-align: justify;
  font-size: 17px;
  font-weight: lighter;
}

footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  width: 100%;
  height: 170px;
  background-color: #22242b;
}

footer P {
  padding: 1rem 0 0 0;
  height: 100%;
  font-weight: bolder;
  color: white;
}

footer #soc-med-links a {
  padding: 0 1rem 0 1rem;
}

footer #footer-cpy-rght {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  font-weight: lighter;
  font-size: 14px;
  padding: 0 0 1rem 0;
  color: white;
}
/*# sourceMappingURL=style.css.map */